.SB_Container{
    /* background-color: red; */
    display: grid;
    grid-template-columns: 53px 1fr;
    grid-template-areas:
        "Filler Editor"
    ;
    width: 100%;
    height: -webkit-fill-available;
    position: fixed;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.SB_Sidebar{
    /* background-color: blue; */
    height: calc(100% - 76px);
    border-right: solid var(--Color-Borders) 3px;
    position: fixed;
    width: 297px;
    overflow-y: auto;
    z-index: 500;
    background: transparent;
    display: none;
    padding: 0;
    margin: 0;
}

.Sidebar{
    padding: 5px;
}

.SB_Sidebar_Controls{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    height: 50px;
    background-color: unset;
    /* border-bottom: solid var(--Color-Borders) 3px; */
    margin: 0;
    padding: 0px;
    overflow: hidden;
}

.SB_Sidebar_Controls_Button{
    
    margin: 0;
    background-color: transparent; 
    font-family: var(--Text-Font-Secondary);
    color: var(--Text-Color);
    font-size: 15px;
    padding: 5px;
    height: 25px;
}

.SB_Sidebar_Controls_Button:hover{
    padding: 5px;
}

.Tab_Horizontal_Container_Content{
    background-color: unset;
    border: unset;
}

.Sidebar[State = "Collapsed"] > *{
    pointer-events: none;
}

.Sidebar[State = "Collapsed"] > .SB_Sidebar_Controls, .Sidebar[State = "Collapsed"] > .SB_Sidebar_Content{
    opacity: 0%;
}


.SB_Sidebar_Content_Item{
    width: calc(100% - 10px);
}

.SB_Sidebar_List{
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    /* width: 290px; */
}

.SB_Sidebar_List > .General_Paragraph{
    margin: 10px;
}

.SB_Sidebar_List_Item{
    padding: 10px;
    display: grid;
    /* grid-template-areas: 
        "Type Jump Delete"
        "Content Jump Delete"
    ; */
    grid-template-columns: 1fr 35px 35px;
    grid-gap: 5px;
    align-items: center;
    justify-content: center;
    height: auto;
    border-top: solid var(--BG-Color-Button-Secondary-Border-Primary) 3px;
    border-bottom: solid var(--BG-Color-Button-Secondary-Border-Primary) 3px;
}

.SB_Sidebar_List_Item[State = "Selected"]{
    background-color: var(--BG-Color-Button-Primary-Border-Primary-Focus);
}

.SB_Sidebar_List_Item[State = "Selected"]:hover{
    background-color: var(--BG-Color-Button-Primary-Border-Primary-Hover);
}

.SB_Sidebar_List_Item:hover{
    background-color: var(--BG-Color-Button-Secondary-Focus);
}

.SB_Sidebar_List_Item_Content{
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
}

.SB_Sidebar_List_Item_Content:hover{
    background-color: var(--BG-Color-Button-Secondary-Hover);
    cursor: pointer;
}

.SB_Sidebar_List_Item_Type{
    font-family: var(--Text-Font-Secondary);
    color: var(--Text-Color);
    font-weight: bolder;
    font-size: 18px;
    margin: 0;
    /* grid-area: Type; */
}

.SB_Sidebar_List_Item_Text{
    font-family: var(--Text-Font-Secondary);
    color: var(--Text-Color);
    margin: 0;
    grid-area: Content;
    text-overflow: ellipsis;
}

.SB_Sidebar_List_Item_Jump{
    width: 25px;
    /* grid-area: Jump; */
    padding: 5px;
    border-radius: 5px;
}

.SB_Sidebar_List_Item_Delete{
    width: 25px;
    /* grid-area: Delete; */
    padding: 5px;
    border-radius: 5px;
}

.SB_Sidebar_List_Item_Jump:hover, .SB_Sidebar_List_Item_Delete:hover{
    cursor: pointer;
    background-color: var(--BG-Color-Button-Secondary-Hover);
}

.SB_Sidebar_List_Item_Inserter{
    padding: 10px;
    cursor: pointer;
}

.SB_Sidebar_List_Item_Inserter:hover{
    background-color: var(--BG-Color-Button-Secondary-Focus);
}

.SB_Sidebar_List_Item_Inserter_Text{
    font-family: var(--Text-Font-Secondary);
    color: var(--Text-Color);
    margin: 0;
    font-style: italic;
}

.SB_Editor{
    /* background-color: yellow; */
    height: 100%;
    width: calc(100% - 20px);
    padding: 10px;
    /* overflow-y: auto; */
    grid-area: Editor;
}

.SB_Editor_MainContents{
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SB_Editor_Banner{
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.SB_Editor_Banner_Image{
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.SB_Editor_Banner_Source{
    position: absolute;
    align-self: flex-end;
    opacity: 0%;
}

.SB_Editor_Banner:hover > .SB_Editor_Banner_Source{
    opacity: 100%;
}

.SB_Editor_Header{
    width: 100%;
    max-width: 800px;
    border-bottom: solid var(--Color-Borders);
}

.SB_Editor_Input{
    border: solid rgba(0, 0, 0, 0) 3px;
    background-color: unset;
    resize: none;
    text-align: justify;
}

.SB_Editor_Input:hover{
    background-color: unset;
}

.SB_Editor_Input:focus{
    background-color: unset;
}

.SB_Editor_Header_Title{
    font-size: 50px;
    height: 65px;
    font-weight: bolder;
    font-family: var(--Text-Font-Primary);
    text-align: unset;
}

.SB_Editor_Content{
    width: 100%;
    max-width: 800px;
}

.SB_Editor_AddElements{
    width: 100%;
    max-width: 800px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: solid var(--Color-Borders) 3px;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.SB_Editor_AddElements_Title{
    font-family: var(--Text-Font-Primary);
    color: var(--Text-Color);
    text-align: center;
    margin: 0;
}

.SB_Editor_AddElements_Buttons{
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

.SB_Element_Title{
    color: var(--Text-Color);
    font-family: var(--Text-Font-Primary);
}

.SB_Element_Title[Element_Type = "Title_Primary"]{
    font-size: 35px;
    height: 43px;
    font-weight: bold;
}

.SB_Element_Title[Element_Type = "Title_Secondary"]{
    font-size: 30px;
    height: 37px;
}

.SB_Element_Paragraph{
    height: 30px;
}

.SB_Element_Image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SB_Element_Image > *{
    margin-bottom: 10px;
}

.SB_Element_Image_Image{
    width: fit-content;
    max-width: 780px;
}

.SB_Element_Image > input:nth-child(2){
    opacity: 0%;
    max-height: 0%;
    height: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.SB_Element_Image > input:nth-child(2):focus{
    opacity: 100%;
    max-height: 100%;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.SB_Element_Image:hover > input:nth-child(2){
    opacity: 100%;
    max-height: 100%;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.SB_Element_Image > input:nth-child(4){
    font-style: italic;
}

.SB_Element_Video{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.SB_Element_Video_Video{
    width: 100%;
    aspect-ratio: 16/9;
    border: transparent;
    outline: transparent;
}

.SB_Element_Video > input{
    opacity: 0%;
    max-height: 0%;
    height: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.SB_Element_Video > input:focus{
    opacity: 100%;
    max-height: 100%;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.SB_Element_Video:hover > input{
    opacity: 100%;
    max-height: 100%;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.SB_Element_List{

}

.SB_Element_List > textarea{
    margin-left: 20px;
    width: calc(100% - 70px);
    border-left: solid var(--BG-Color-Input-Focus);
}

.SB_Element_Quote{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
    grid-template-areas: 
        "Apostrophe_1 Input Apostrophe_2"
        "Source Source Source"
    ;
    grid-template-columns: auto 1fr auto;
}

.SB_Element_Quote_Apostrophe{
    font-family: var(--Text-Font-Primary);
    color: var(--Text-Color);
    opacity: 75%;
    font-size: 50px;
    margin: 0;
}

.Apostrophe_1{
    grid-area: Apostrophe_1;
}

.SB_Element_Quote_Contents{
    grid-area: Input;
    font-size: 25px;
    font-style: italic;
}

.Apostrophe_2{
    grid-area: Apostrophe_2;
    align-self: flex-end;
}

.SB_Element_Quote_Source{
    grid-area: Source;
    padding-left: 30px;
}

.SB_Element_Dialog{
    display: grid;
    grid-template-columns: 150px 10px 1fr;
}

.SB_Element_Dialog_Character{
    font-weight: bold;
    text-align: right;
}

.SB_Element_Dialog_Text{
    height: 51px;
}